@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 700;
}
body {
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SPLITTER {
  margin-top: 50px;
  height: 53px;
  width: 86px;
}
.main {
  margin-top: 41px;
  height: 789px;
  width: 375px;
  background-color: #ffffff;
  border-radius: 25px 25px 0px 0px;
  padding: 32px 24px 32px 32px;
}
.bill-div {
  gap: 6px;
}
.numberofpeople-component{
  display: flex;
  justify-content: space-between;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #5e7a7d;
}
h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  color: #e17457;
  display: none;
}
.bill-input {
  background-color: #f3f9fa;
  height: 48px;
  width: 311px;
  border: none;
  border-radius: 5px;
  background-image: url(./$.png);
  background-repeat: no-repeat;
  background-position: 20px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  padding: 17px 18px 16px 20px;
  color: #00474b;
  outline-color: #26c2ae;
}
.tip-div {
  margin-top: 32px;
}
.button-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  margin-top: 16px;
}
.percent-button {
  height: 48px;
  width: 147px;
  border-radius: 5px;
  border: none;
  background-color: #00474b;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  cursor: pointer;
}
.tip-input {
  height: 48px;
  width: 147px;
  border-radius: 5px;
  border: none;
  background-color: #f3f9fa;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  padding: 6px 17px 6px 0px;
  color: #00474b;
  outline-color: #26c2ae;
}
.tip-input::-webkit-inner-spin-button,
.bill-input::-webkit-inner-spin-button,
.people-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.numberofpeople {
  margin-top: 32px;
}
.people-input {
  background-color: #f3f9fa;
  border: none;
  height: 48px;
  width: 311px;
  border-radius: 5px;
  background-image: url(./Group\ 8.png);
  background-repeat: no-repeat;
  background-position: 20px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  padding: 17px 18px 16px 20px;
  color: #00474b;
  margin-top: 6px;
  outline-color: #26c2ae;
}
.bottom {
  height: 257px;
  width: 327px;
  border-radius: 15px;
  background-color: #00474b;
  margin-top: 32px;
  margin-left: -8px;
  padding: 39px 22px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.amount-total-text {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.person {
  font-size: 13px;
  line-height: 19px;
  color: #7f9d9f;
}
.result,
.result2 {
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.6666666865348816px;
  text-align: right;
  margin-top: -40px;
  color: #26c2ae;
}
.reset {
  width: 281px;
  border-radius: 5px;
  border: none;
  background-color: #26c2ae;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #00474b;
  padding: 9px 0px;
}
@media screen and (min-width: 1020px) {
  .main {
    height: 481px;
    width: 920px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 32px 32px 48px;
    margin-top: 88px;
  }
  .bill-input {
    width: 379px;
    cursor: pointer;
  }
  .tip-div {
    margin-top: 40px;
  }
  .button-container {
    grid-template-columns: auto auto auto;
    gap: unset;
    row-gap: 22px;
    column-gap: 14px;
  }
  .percent-button {
    width: 117px;
  }
  .percent-button:hover {
    background-color: #9fe8df;
    color: #00474b;
  }
  .tip-input {
    width: 117px;
    cursor: pointer;
  }
  .numberofpeople {
    margin-top: 40px;
  }
  .people-input {
    width: 379px;
    cursor: pointer;
  }
  .bottom {
    height: 417px;
    width: 413px;
    margin-top: -15px;
    padding: 54px 40px 40px 40px;
    gap: 53px;
  }
  .result,
  .result2 {
    margin-top: -55px;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -1px;
    cursor: pointer;
  }
  .reset {
    width: 333px;
    background-color: #0d686d;
    color: #00474b;
    margin-top: 60px;
    cursor: pointer;
  }
  .reset:hover {
    background-color: #9fe8df;
    color: #00474b;
  }
}
